<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- Where the cached data files are stored -->
    <add key="DataCacheFolder" value="D:\NURI\cache" />
    <!-- Where the authorization credentials are stored -->
    <add key="CredentialDirectory" value="D:\NURI\credentials" />
    <!-- Google Drive connection parameters-->
    <add key="MaxActiveUploads" value="2" />
    <add key="MaxRetryCount" value="5" />
    <add key="EnableDelayBeforeUpload" value="true"/>
    <add key="MaxDelayBeforeUploadSeconds" value="20"/>
    <add key="EnableFailedRetryWorker" value="true"/>
    <add key="MinDelayBetweenFailedRetriesSeconds" value="10"/>
    <add key="MaxDelayBetweenFailedRetriesSeconds" value="30"/>
    <add key="WaitBetweenRetriesSeconds" value="5" />
    <add key="MaxListResults" value="1000" />
    <add key="FilesMimeType" value="application/octet-stream" />
    <add key="FoldersMimeType" value="application/vnd.google-apps.folder" />
    <add key="GoogleAuthUser" value="user" />
    <add key="GoogleApplicationName" value="nuri-station" />
    <!-- Name of this NURI station -->
    <add key="StationName" value="NURI-station" />
    <!-- Magnetometer sampling rate [Hz] -->
    <add key="SamplingRate" value="3960" />
    <!-- Magnetic field data units - uT or V -->
    <add key="DataUnits" value="uT" />
    <!-- File naming conventions -->
    <add key="ChannelNameX" value="rawX" />
    <add key="ChannelNameY" value="rawY" />
    <add key="ChannelNameZ" value="rawZ" />
    <add key="ChannelNameTime" value="time" />
    <!--  0=Year, 1=Month, 2=Day, 3=Hour, 4=channel, 5=dataUnits, 6=samplingRate -->
    <add key="DataFileNameFormat" value="{0}-{1}-{2}_{3}-xx_{4}_{5}_{6}Hz.bin" />
    <add key="TimeFileNameFormat" value="{0}-{1}-{2}_{3}-xx_{4}.bin" />
    <add key="ZipFileNameFormat" value="{0}-{1}-{2}_{3}-xx.zip" />
    <!--  0=Year, 1=Month, 2=Day, 3=Hour, 4=station -->
    <add key ="RemoteFileNameFormat" value="\MagneticFieldData\{0}\{1}\{2}\{3}\{4}"/>
  </appSettings>
</configuration>